.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30%;
    
}
nav{
  
    display:flex;
    text-align: left;
    justify-content:center;
    font-family: "Roboto";
    align-items:center;
    font-size: 13px;
    
    
}
ul{
    height: 70px;
    list-style:none;
    display:flex;
    gap:60px;
    font-family: "Roboto";
    font-size: 17px;
    color: #000;
    
}
.Image{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-right: 55%;
    
}

.Ingredients{
    display: flex;
    position: relative;
    justify-content: center;
    padding-left: 50px;
    top: -350px;
}
.AboutDish{
    display: flex;
    position:relative;
    justify-content: center;
    padding-left: 65%;
    bottom: 480px;    
}
.Recepie{
    display: flex;
    position: relative;
    justify-content: center;
    padding-left: 40%;
    bottom: 450px;
}
.Title-Ingredients{
    position: relative;
    justify-content: center;
    padding-left: 560px;
    bottom:810px;
    color: #000;
    font-size:22px;
}
.Title-AboutDish{
    position: relative;
    justify-content: center;
    padding-left: 830px;
    bottom:840px;
    color: #000;
    font-size:22px;
}
.Title-Recepie{
    position: relative;
    justify-content: center;
    padding-left: 510px;
    bottom:690px;
    color: #000;
    font-size:22px;
}
