.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30%;


    
}
nav{
  
    display:flex;
    text-align: left;
    justify-content:center;
    font-family: "Roboto";
    align-items:center;
    font-size: 13px;
    
    
}
ul{
    height: 70px;
    list-style:none;
    display:flex;
    gap:60px;
    font-family: "Roboto";
    font-size: 17px;
    color: #000;
    
}
.Image{
    display: flex;
    justify-content: center;
    padding-top: 110px;
    padding-right: 55%;
    
}

.Ingredients{
    display: flex;
    position: relative;
    justify-content: center;
    padding-right: 60px;
    top: -350px;
}
.AboutDish{
    display: flex;
    position:relative;
    justify-content: center;
    padding-left: 65%;
    bottom: 480px;    
}
.Recepie{
    display: flex;
    position: relative;
    justify-content: center;
    padding-left: 40%;
    bottom: 450px;
}
.Title-Ingredients{
    position: relative;
    justify-content: center;
    padding-left: 510px;
    bottom:810px;
    color: #000;
    font-size:22px;
}
.Title-AboutDish{
    position: relative;
    justify-content: center;
    padding-left: 830px;
    bottom:840px;
    color: #000;
    font-size:22px;
}
.Title-Recepie{
    position: relative;
    justify-content: center;
    padding-left: 510px;
    bottom:690px;
    color: #000;
    font-size:22px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    background-color: orange;
}
.contact-us{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto";   
    color: white;
    justify-content: center;
}
.contact-us h3{
    text-align: center;
    font-family: "Roboto";   
    color: white;
    text-align: center;

}
.contact--us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}
.contact--icons{
    display: flex;
    flex-direction: row;
    gap: 5px
}
.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-media h3{
    text-align: center;
    font-family: "Roboto";   
    color: white;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

